<table>
  <tbody>
    <tr>
      <th>&nbsp;</th>
      <% (@excel_file.first_column..@excel_file.last_column).each do |col| -%>
      <th><%= h Excelx.number_to_letter(col) -%></th>
      <% end -%>
    </tr>
    <% (@excel_file.first_row..@excel_file.last_row).each do |row| -%>
    <tr>
      <th><%= h row %></th>
      <% (@excel_file.first_column..@excel_file.last_column).each do |col| -%>
      <td>
	<% c = @excel_file.cell_at(col,row) %>
	<% if !c.nil? -%>
          <% if c.is_formula -%>
	    <div style="color: green">
              <%= @excel_file.evaluate_cell(col, row) %>
            </div>
	  <% else -%>
	    <%= @excel_file.cell_at(col,row).contents %>
	  <% end -%>
        <% end -%>
      </td>
      <% end -%>
    </tr>
    <% end -%>
  </tbody>
</table>
<hr/>
Evaluated values in <span style="color: green">green</span>

